DJANGO_SECRET_KEY=cambia_esta_clave
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200
POSTGRES_DB=nova
POSTGRES_USER=nova
POSTGRES_PASSWORD=cambia_esta_contrasena
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
ADMIN_EMAIL=admin@nova.local
ADMIN_PASSWORD=cambia_esta_contrasena_admin
CARGAR_DEMO=1
